<mat-card class="content">
    <mat-card-header class="home mat-elevation-z3">
        <mat-card-title class="title">
          Bem vindo!
        </mat-card-title>
        <mat-card-subtitle class="subtitle">
          Sistema de cadastro de produtos com Angular.
        </mat-card-subtitle>
    </mat-card-header>
    <img class="imagem" matCardImage src="/assets/loja-virtual2.jpg" alt="imagem-de-loja-virtual">
    <mat-card-content class="card">
        Organize seus produtos com praticidade.
    </mat-card-content>
    <!--ul>
      <li *myFor="let n em [1, 2, 3, 4]">{{ n }}</li>
    </!--ul-->
</mat-card>

